.chosen-container {
    width: 100% !important;
}

.chosen-single, .chosen-choices {
    border: 0px !important;
}

a[data-toggle=collapse] i.show {
    display: none;
}

a[data-toggle=collapse].collapsed i.show {
    display: inherit;
}

a[data-toggle=collapse] i.hide {
    display: inherit;
}

a[data-toggle=collapse].collapsed i.hide {
    display: none;
}

li.day {
    background-color: #e0e0e0;
    margin: 5px;
}
